<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
</head>
<body>
    {% if combo_mas_vendido %}
    <h3>Combo más vendido</h3>
    <p>
        <strong>Nombre del Combo:</strong> {{ combo_mas_vendido.nombre_combo }}<br>
        <strong>Cantidad vendida:</strong> {{ combo_mas_vendido.cantidad_vendida }}
    </p>
    {% endif %}

    {% if productos_mas_vendidos %}
    <h3>Productos más vendidos</h3>
    <ul>
        {% for producto in productos_mas_vendidos %}
            <li>{{ producto.nombre_producto }}: {{ producto.cantidad_vendida }} vendidos</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if dias_ventas %}
    <h3>Ventas por día de la semana</h3>
    <ul>
        {% for dia in dias_ventas %}
            <li>{{ dia.dia_semana }}: {{ dia.cantidad }} ventas</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if toppings_vendidos %}
    <h3>Toppings más vendidos</h3>
    <ul>
        {% for topping in toppings_vendidos %}
            <li>{{ topping.topping }}: {{ topping.cantidad_vendida }} vendidos</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if productos_por_rango_edad %}
    <h3>Productos más vendidos por rango de edad</h3>
    <ul>
        {% for producto in productos_por_rango_edad %}
            <li>Rango de edad: {{ producto.rango_edad }} - Producto: {{ producto.nombre_producto }} - Vendidos: {{ producto.cantidad_vendida }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if patrones_compra %}
    <h3>Patrones de compra por edad y tipo de producto</h3>
    <ul>
        {% for patron in patrones_compra %}
            <li>Edad: {{ patron.edad }} años - Tipo de Producto: {{ patron.tipo }} - Cantidad: {{ patron.cantidad }}</li>
        {% endfor %}
    </ul>
    {% endif %}





    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>