<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente - Tienda de Café</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Registro de Cliente - Tienda de Café</h1>

    {% if mensaje %}
    <div class="alert alert-warning">
        {{ mensaje }}
    </div>
    {% endif %}
   
<div class="mb-4 text-left">
    <a href="/sale" class="btn btn-secondary">Volver a Facturación</a>
    <a href="/agregar_mascota" class="btn btn-primary">Agregar Mascota</a>
</div> 

    <form action="/register" method="post" class="bg-light p-4 rounded">

        <!-- Datos del cliente -->
        <h2 class="mb-3">Datos del Cliente</h2>

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="telefono">Número de Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="identificacion">Idenficación:</label>
            <input type="text" id="identificacion" name="identificacion" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" required>
        </div>

        <!-- Botón para enviar el formulario -->
        <button type="submit" class="btn btn-primary">Registrar Cliente</button>
    </form>
</div>

</body>
</html>